*{
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F2F7FF!important;
    overflow-x: hidden;
}

.visible{
    display: block!important;
}

/* Nav bar */

.menu .logo h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--DoctorGradient, linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu i{
    display: block;
    font-size: 30px;
    position: absolute;
    display: none;
}

.menu .bi-list{
    color: #1678F2;
    right: 20px;
}

.menu .bi-x-lg{
    z-index: 20;
    top: 10px;
    right: 20px;
}

.menu .logo img{
    margin-top: -15px;
}

.menu nav{
    margin-top: 10px;
}

.menu nav ul li a{
    color: var(--Second, #6C87AE);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
}

.menu nav ul li a.active{
    color: #3A8EF6;
    opacity: 1;
}

.menu button{
    padding: 16px 28px;
    align-items: flex-start;
    gap: 10px;
    background: linear-gradient(#3A8ef6, #6f3afa);
    border-radius: 100px;
}

/* Presentation */

.presentation{
    padding: 0 10%;
    margin: 60px 0 120px 0;
}

.presentation .text-acc button{
    border-radius: 100px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    display: flex;
    padding: 16px 28px;
    align-items: flex-start;
    gap: 10px;
}

/* Listitems */

.listitems .item{
    display: flex;
    padding: 8px 18px;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    background: var(--gradients, linear-gradient(145deg, #1678F2 3.73%, #65A8FB 132.69%));
}

/* About  */

.about{
    padding: 170px 10%;
}

.about .content button{
    border-radius: 100px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    padding: 16px 28px;
    align-items: flex-start;
    gap: 10px;
}

/* Services */

.services{
    margin-bottom: 100px;
}

.services .content button{
    border-radius: 100px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    padding: 16px 28px;
    align-items: flex-start;
    gap: 10px;
}
.services .nos-services{
    padding: 50px 20%;
}

.services .nos-services .service{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
}

.services .nos-services .service img{
    margin: auto;
}

.services .nos-services .service section button{
    border-radius: 100px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    padding: 16px 28px;
    align-items: flex-start;
    gap: 10px;
}

/* CTA */

.CTA{
    padding: 170px;
}

.CTA .cta h1{
    font-size: 25px;
}

.CTA div button{
    padding: 16px 28px;
    align-items: flex-start;
    border-radius: 100px;
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
    color: var(--Blue-1, #3A8EF6);
    margin: auto;
}

.video{
    padding: 50px;
}

.video div p{
    padding: 0 400px;
}

.review{
    padding: 150px;
}

.review .reviews .bg-white{
    border-radius: 32px;
    padding: 18px 28px;
    align-items: flex-start;
    gap: 8px;
    box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
}

.review .reviews .bg-white p{
    font-style: italic;
}

/* footer */

footer{
    padding: 50px 100px;
    background-color: #1678F2;
}

footer .row .col .flex img{
    margin-top: -20px;
}

footer .row p{
    font-style: italic;
}

footer hr{
    border: 1px solid #fff;
}

/* Media Query */

@media (max-width: 1000px){

    nav{
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        background-color: #1678F2;
        padding: 100px 0;
        display: none;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li a{
        color: #fff!important;
        font-size: 25px!important;
        font-weight: bold!important;
    }

    .presentation{
        text-align: center;
        flex-direction: column-reverse;
    }

    .presentation .text-acc button{
        margin: auto;
    }

    .listitems{
        padding: 0 30px;
    }
    
    .about{
        text-align: center;
        padding: 170px 10px;
    }

    .about .content button{
        margin: auto;
    }

    .services .justify-center{
        padding: 15px;
    }

    .services .nos-services{
        position: relative;
        margin-bottom: 400px;
    }

    .services .nos-services .service{
        position: absolute;
        left: 5%;
        right: 5%;
        text-align: center;
    }

    .services .nos-services .service button{
        margin: auto;
    }

    .services .justify-center .mb-5{
        flex-direction: column-reverse;
        text-align: center;
    }

    .services .justify-center button{
        margin: auto;
    }

    .CTA{
        padding: 170px 10px;
    }

    .CTA .cta .imgp{
        position: absolute;
        margin-top: 27px;
        width: 100%;
        height: 38%;
    }

    .CTA .cta h1{
        font-size: 22px;
    }

    .CTA .cta .absolute{
        padding: 50px;
    }

    .video{
        padding: 50px 10px;
    }

    .video div p{
        padding: 0;
    }

    .review{
        padding: 10px;
    }

    .review .reviews{
        padding: 30px;
        position: relative;
        margin-bottom: 250px;
    }

    .review .reviews .bg-white{
        position: absolute!important;
        width: 100%;
    }

    footer{
        padding: 50px 20px;
    }

    footer div .links{
        flex-direction: column-reverse;
    }
    .menu .bi-list{
        display: block;
    }
}